<mtapp:setting
  id="LBway"
  label="<__trans phrase="LightBox mode">"
  hint="<__trans phrase="__desc__">"
  show_hint="1">
  <select name="LBway" id="LBway" value="<mt:var name="LBway">">
  <option value="Auto"><__trans phrase="Automatic"></option>
  <option value="Man"><__trans phrase="Manual"></option>
  <option value="Ambos"><__trans phrase="Both"></option>    
</select>
<br />
</mtapp:setting>
