<mtapp:setting
  id="LBusehookblog"
  label="Use direct sustitution"
  hint="this will enable the direct sustitution when you add an image."
  show_hint="1">
  <select name="LBusehookblog" id="LBusehookblog" value="<mt:var name="LBusehookblog">">
  <option value="Enabled">Enabled</option>
  <option value="Disabled">Disabled</option>  
</select>
<br />
</mtapp:setting>
